#wrapper{
	width: 100%;
	height: fit-content;
	background-color: #E5E5E5;
}
#wrapper:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	min-width: 400px;
	height: 482.09px;
	background: url(../img/top-left-corner.png) no-repeat;
	background-size: contain;
}
#wrapper:after{
	content: '';
	position: absolute;
	bottom: 0px;
	right: 0;
	width: 210px;
	height: 362px;
	background: url(../img/bottom-right-corner.png) no-repeat;
}
.container{
	width: 100%;
	max-width: 836px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

}

		/*== Header ==*/

header{
	padding: 3px 0 28px;
	width: 100%;
	position: relative;
	z-index: 3;
	background: rgba(255, 255, 255, 0.67);
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12), inset 0px 12px 24px rgba(0, 0, 0, 0.12);
}
nav{
	display: flex;
	justify-content: center;
}
nav .logo{
	margin-right: 86px;
}
nav .logo h1{
	position: absolute;
	text-indent: -999999px;
}
nav .nav__menu{
	padding-top: 33px;
}
nav .nav__menu__head{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
nav .nav__menu__head .project-name{
	margin-right: 16px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: -0.01em;
	color: #000000;
}
nav .nav__menu__head .start_date {
	display: block;
	padding: 6px 12px 7px;
	border: 1px solid #3D8EDA;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: -0.03em;

	color: #3D8EDA;
}
nav .nav__menu__info__items{
	display: flex;
}
nav .nav__menu__info__items li{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}
nav .nav__menu__info__items li strong{
	font-weight: bold;
	margin-right: ;
}
nav .nav__menu__info__items li:nth-child(1){
	margin-right: 28px;
}
nav .nav__menu__info__items li:nth-child(2){
	margin-right: 17px;
}

		/*== Main ==*/
main{
	width: 100%;
	padding: 18px 0 61px 0;
	position: relative;
	z-index: 3;
}

	/*= Direction Buttons =*/

main .directions {
	align-self: end;
	display: flex;
	margin-bottom: 23px;
}
main .directions button{
	padding: 0;
	margin-left: 21px;
	border: none;
	box-sizing: border-box;
	background: none;
	display: grid;
}
main .directions button.active span{
	background-color: #3D8EDA;
}
main .directions button .square{
	width: 6px;
	height: 6px;
}
main .directions button .stripe{
	width: 15px;
	height: 2px;
	margin-top: 2px;
}
main .directions button span{
	background-color: #C8C7C7;
	transition: 0.3s;
}
main .directions button:hover span{
	background-color: #3D8EDA;
}
main .directions button:active span{
	background-color: #3D8EDA;
}

main .directions .rows{
	width: 22px;
	grid-template-columns: 6px 6px 6px;
	grid-column-gap: 2px;
	grid-row-gap: 2px;
}
main .directions .tiles{
	width: 24px;
	grid-template-columns: 6px 15px;
	grid-column-gap: 3px;
	grid-row-gap: 2px;
}

	/*= Images list =*/

main .images-list{
	width: 100%;
	display: grid;
	grid-template-columns: 203px 203px 203px 203px;
	grid-column-gap: 8px;
	grid-row-gap: 16px;
	margin-bottom: 33px;
}
main .row{
	width: 203px;
	display: flex;
	flex-direction: column;
	background-color: #fff;
}
main .row .img-holder{
	width: 100%;
	height: 203px;
	flex-shrink: 0;
}
main .row .img-holder img{
	width: 100%;
	height: 100%;
}
main .row .image-info{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 12px 12px 18px;
	box-sizing: border-box;
}
main .row .image-statistic{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 28px;
}
main .row .image-info h3{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;

	color: #000000;
}
main .row .image-info p,time{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;

	color: #000000;
}
main .row .image-info .stats{
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}
main .row .image-statistic .stats .likes-block,
main .row .image-statistic .stats .comments-block{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
main .row .image-info .stats .likes-pict{
	display: block;
	width: 15px;
	height: 14px;
	margin-right: 8px;
	background: url(../img/likes.png) no-repeat;
}
main .row .image-info .stats .comments-pict{
	display: block;
	width: 15px;
	height: 15px;
	margin-right: 8px;
	background: url(../img/comments.png) no-repeat;
}
main .row .image-info .when_upload{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
main .row .image-info .when_upload h3{
	font-size: 14px;
	line-height: 16px;
}
main .row .image-info .when_upload time{
	font-size: 12px;
	line-height: 14px;
}
#load-more{
	display: block;
	align-self: center;
	width: 111px;
	height: 28px;
	background: none;
	border: 1px solid #929292;
	box-sizing: border-box;
	border-radius: 14px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 13px;
	letter-spacing: -0.03em;

	color: #929292;
}



































